
/*css: SectionTitle.module.css
Descripcion: estilos relacionados al SectionTitle
Autor: Jose Ahias Vargas Pacheco
*/

.section {
  margin-bottom: 50px;
}

.title {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 25px;
  text-align: center;
}

.highlight {
  color: #c9a227; /* dorado */
}